@import "Colors";
@import "Typestyles";

.NoContent {
    position: relative;

    &__art img{
        display: block;
        width: 30%;
        margin: 0 auto 2rem;
    }

    &__message {
        @include paragraph;
        font-size: 1.2rem;
        text-align: center;
        color: $off-black;
        font-weight: 600;
    }
}
