@import 'Colors';


.progressBar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    display: block;
    height: 1rem;
    width: 100%;

    background-color: $primary-transparent;

    &__bar {
        position: absolute;
        left: 0;
        top: 0;

        height: 100%;
        max-width: 100%;

        background-color: $primary;

        transition: .5s color;

        &.finished {
            background-color: $failure;
        }
    }
}