@import 'colors';
@import 'Typestyles';

#root {
    background-color: $secondary;

    main.main {
        padding: 0rem 0rem;

        min-height: 100vh;

        .screen {
            padding: 4rem 0rem;

            .paragraph {
                @include paragraph;
            }

            .introduction {
                margin-top: 16.1rem;
            }

            .scrollDown {
                margin-top: 7.7rem;

                &__icon{
                    transform: rotateZ(180deg);
                }

            }
        }
    }
}

