@import 'colors';
@import 'Typestyles';
@import 'Scrollbar';
@import "breakpoints";

#root {
    background-color: $secondary;

    main.main {
        padding: 0rem 0rem;

        min-height: 100vh;

        .screen {
            padding: 4rem 0rem;

            .paragraph {
                @include paragraph;
                font-size: 1.6rem;

                @include lg {
                    font-size: 2rem;
                }
            }

            .introduction {
                margin-top: 16.1rem;

                &__cta {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }

            .scrollDown {
                margin-top: 7.7rem;

                &__icon{
                    transform: rotateZ(180deg);
                }

            }

            .textsection {
                margin-top: 14rem;
                margin-bottom: 8rem;

                .title {
                    @include title;
                    margin: 0;
                }

                .paragraph {
                    @include paragraph;
                    font-size: 1.8rem;
                    margin: 0;
                }
            }
        }

        .screen.home {
            @include lg {
                background-image: url("../assets/art_homepage.svg");
                background-size: contain;
                background-position: 100% 10%;
                background-repeat: no-repeat;
            }
        }
    }
}

