@import "Colors";
@import  "Typestyles";

.student {
    padding: 0 !important;
    position: absolute !important;
    width: 100vw;
    left: 0;

    background-image: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.5) 100%), url("../assets/art_wallpaper.svg");
    background-repeat: repeat;

    .progressBar {
        z-index: 3;
    }

    .voltaContainer {
        position: relative;
        z-index: 2;

        height: calc(100vh - 6rem);
        width: 30+vw;

        padding-bottom: 4rem;

        background-color: $black-transparent;
        backdrop-filter: blur(3rem);

        transition: 2s left;

        & .scoreCounter {
            position: absolute;
            left: 50%;
            top: 1rem;

            transform: translate(-50%);

            & > span {
                font-family: 'Prata', sans-serif;
                font-size: 4.6rem;

                text-shadow: #ff4d00 0 0 112px, #ffa916 0 0 48px, #ef9700 0 0 24px, #ef9700 0 0 16px, #ef9700 0 0 4px;
                opacity: 1;
                color: #ffdb9e;

                &:nth-of-type(1){
                    animation: 10s ease-in-out 0s infinite nixie-glow ;
                }
                &:nth-of-type(2){
                    animation: 10s ease-in-out 4.2s infinite nixie-glow ;
                }
                &:nth-of-type(3){
                    animation: 10s ease-in-out 1.6s infinite nixie-glow ;
                }
            }
        }
    }

    .VoltaPortrait {
        z-index: 2;
        left: 50%;
        bottom: 0;

        transition: 2s left;
    }

    .unlockable {
        position: absolute;
        right: 0;
        top: 0;

        width: 100%;
        height: 100%;

        overflow: hidden;

        transition: 2s opacity;


        &__item {
            position: absolute;
            z-index: 1;

            & > .shelf {
                position: absolute;

                opacity: 0;
                &.unlocked {
                    animation: 2s ease-in-out 0s 1 forwards item-unlock ;
                }
            }

            & > .item {
                position: absolute;
                transform: translate(75%, -85%) scale(0.9);

                opacity: 0;
                &.unlocked {
                    animation: 2s ease-in-out 0s 1 forwards item-unlock ;
                }
            }


            &--voltaic {
                right: 40%;
                top: 35%;
                transform: translate(-50%, -50%);
            }

            &--lamp {
                right: 20%;
                top: 25%;
                transform: translate(-50%, -50%);
            }

            &--stratingh {
                right: 40%;
                top: 75%;
                transform: translate(-50%, -50%);
            }

            &--plasma {
                right: 20%;
                top: 65%;
                transform: translate(-50%, -50%);

                & > .item {
                    transform: translate(30%, -70%) scale(0.9);
                }
            }

            &--door {
                left: 28%;
                bottom: 0;

                & > .item {
                    transform: translate(0%, -100%);
                }
            }
        }
    }

    .endingPlasma {
        position: absolute;
        left: 60%;
        bottom: 0;

        width: 35rem;

        opacity: 0;
        transition: 2s opacity;

        & > .img {
            width: 100%;
        }
    }


    &.ending {
        & .voltaContainer {
            left: 50%;
            transform: translateX(-50%);

            & .layer {
                &::before, &::after {
                    content: none !important;
                }
            }
        }

        & .VoltaPortrait {
            left: 10%;

            & .img {
                transform: rotateY(0deg);
            }
        }

        & .unlockable {
            opacity: 0;
        }

        & .endingPlasma {
            opacity: 1;
        }
    }
}

@keyframes nixie-glow {
    0%, 10%, 100% {
        text-shadow: #ff4d00 0 0 112px, #ffa916 0 0 48px, #ef9700 0 0 24px, #ef9700 0 0 16px, #ef9700 0 0 4px;
        opacity: 1;
    }
    2%, 7% {
        opacity: 0.3;
    }
    5% {
        text-shadow: #ff4d00 0 0 150px, #ffa916 0 0 100px, #ef9700 0 0 50px, #ef9700 0 0 32px, #ef9700 0 0 10px;
        opacity: 1;
    }
}

@keyframes item-unlock {
    0% {
        opacity: 0;
        scale: 1;
    }
    50% {
        scale: 1.2
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}