@import "Colors";
@import  "Typestyles";

.student {
    padding: 0 !important;
    position: absolute;
    width: 100vw;
    left: 0;

    background-image: url("../assets/student_background.png");
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;

    .voltaContainer {
        height: calc(100vh - 6rem);
        width: 30+vw;

        padding-bottom: 4rem;

        background-color: $black-transparent;
        backdrop-filter: blur(3rem);

        & .scoreCounter {
            position: absolute;
            left: 50%;
            top: 1rem;

            transform: translate(-50%);

            & > span {
                font-family: 'Prata', sans-serif;
                font-size: 4.6rem;

                text-shadow: #ff4d00 0 0 112px, #ffa916 0 0 48px, #ef9700 0 0 24px, #ef9700 0 0 16px, #ef9700 0 0 4px;
                opacity: 1;
                color: #ffdb9e;

                &:nth-of-type(1){
                    animation: 10s ease-in-out 0s infinite nixie-glow ;
                }
                &:nth-of-type(2){
                    animation: 10s ease-in-out 4.2s infinite nixie-glow ;
                }
                &:nth-of-type(3){
                    animation: 10s ease-in-out 1.6s infinite nixie-glow ;
                }
            }
        }
    }

    .VoltaPortrait {
        left: 50%;
        bottom: 0;
    }
}

@keyframes nixie-glow {
    0%, 10%, 100% {
        text-shadow: #ff4d00 0 0 112px, #ffa916 0 0 48px, #ef9700 0 0 24px, #ef9700 0 0 16px, #ef9700 0 0 4px;
        opacity: 1;
    }
    2%, 7% {
        opacity: 0.3;
    }
    5% {
        text-shadow: #ff4d00 0 0 150px, #ffa916 0 0 100px, #ef9700 0 0 50px, #ef9700 0 0 32px, #ef9700 0 0 10px;
        opacity: 1;
    }
}
