@import "Typestyles";

.textPanel {
    padding-top: 2rem;
    padding-bottom: 6rem;

    display: flex;
    flex-direction: column;

    & > .title {
        @include title;
        font-size: 2.8rem;

        border-bottom: .2rem solid $primary;
    }
}