@import "Typestyles";
@import "Colors";

.textPanel {
    padding-top: 2rem;
    padding-bottom: 6rem;

    display: flex;
    flex-direction: column;

    & > .title {
        @include title;
        font-size: 2.8rem;

        border-bottom: .2rem solid $primary;
    }

    & .textItems {

        & .dragcontainer {

            &:nth-of-type(even) {
                background-color: $primary-transparent;
            }

            &.dragged {
                opacity: 1;

                & > .textItem {
                    transform: scale(.5);
                    border: .2rem solid $primary;
                }
            }

            &.drag-placeholder {
                border: .1rem solid $off-black;
            }
        }
    }
}