@import "Colors";
@import "interactables";

.textItem {
    padding: 2rem 3rem;

    position: relative;

    & .drag {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__icon {
            cursor: grab;

            transition: 500ms transform;

            &:active {
                cursor: grabbing;
                transform: scale(0);
            }
        }
    }

    & .value {
        position: relative;
        padding: 0rem;

        &:has(.input:focus) .label {
            transform: translateY(-1.5rem);
            color: $primary;
        }

        & .label {
            transform: translateY(0rem);
            color: $off-black;
            transition: .4s transform, .4s color;
        }

        & .input {
            @include input;
            font-size: 1.4rem;

            display: block;
            width: 100%;
            resize: none;

            text-transform: none;
            letter-spacing: normal;
            padding: 1rem 0 0 0;
            text-align: left;
        }
    }


    & .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &__button {
            border-radius: .4rem;
            width: 4rem;
            height: 4rem;

            position: relative;
            z-index: 3;
            background-color: $primary;

            transition: .4s background-color;

            & > .icon {
                transition: .4s filter;
                pointer-events: none;
                filter: invert(100%);
            }

            &--deleteCheck {
                &:hover {
                    background-color: $button-red;

                    & > .icon {
                        filter: invert(100%);
                    }
                }

                &:disabled, &:disabled:hover {
                    background-color: $grey-5;
                }
            }

            //delete confirm/cancel buttons
            &--deleteConfirm {
                z-index: 3;
                margin-right: 1rem;

                &:hover {
                    background-color: $button-green;

                    & > .icon {
                        filter: invert(100%);
                    }
                }
            }
            &--deleteCancel {
                z-index: 3;

                &:hover {
                    background-color: $button-red;

                    & > .icon {
                        filter: invert(100%);
                    }
                }
            }
        }
    }


    //states
    &.deleteCheck {
        @include stateNotification($black-transparent, "Weet je zeker dat je deze tekst wilt verwijderen?");
    }

}