@import 'Typestyles';
@import 'breakpoints';

.title {
    display: block;
    padding-left: 2rem;

    @include lg {
        padding-left: 0;
    }

    h1 {
        @include logo-title;
        color: $white;

        display: block;
        width: 100%;
        position: relative;

        z-index: 1;

        &::after {
                @include shadow-orange;
        }
        &:nth-of-type(1)::after{
            content: "STROOM";
        }
        &:nth-of-type(2)::after{
            content: "GEEFT";
        }
        &:nth-of-type(3)::after{
            content: "ENERGIE";
        }

        @include lg {
            padding: 0;
        }
    }
}
