.voltaicPile {
    position: relative;
    width: 80%;
    height: 100%;

    margin: 0 10%;

    &__layers {
        height: 100%;
        padding: 5rem 0 2rem;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;

        .layer {
            opacity: 0;
            flex-grow: 1;

            position: relative;

            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            &:nth-of-type(1n) {
                background-image: url("../assets/copper.svg");

                max-height: 6.3rem;
                width: 12rem;
                margin-top: -5rem;
            }
            &:nth-of-type(2n) {
                background-image: url("../assets/foil.svg");

                max-height: 5.3rem;
                width: 13.4rem;
                margin-top: -4rem;
            }
            &:nth-of-type(3n) {
                background-image: url("../assets/zinc.svg");

                max-height: 4.3rem;
                width: 12.4rem;
                margin-top: -3rem;
            }

            &.old {
                opacity: 1;
            }

            &.new {
                animation: 1s cubic-bezier(.73, .07, .96, .44) 0s fallDown forwards;

                @for $i from 1 through 50 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: calc(.15s * #{$i});
                    }
                }
            }

            //&.first {
            //
            //}
        }
    }
}

@keyframes fallDown {
    0% {
        transform: translate3d(0, -10rem, 0);
        opacity: 0;
        display: block;
    }
    50% {
        opacity: 1;
        transform: translate3d(0, -10.5rem, 0) scale(.975, 1.125);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1,1);
        opacity: 1;
    }
}